# Project exclude paths
/cloud-api-commons/target/
/cloud-consumer-feign-hystrix-order80/target/
/cloud-consumer-feign-order80/target/
/cloud-consumerconsul-order80/target/
/cloud-consumerzk-order80/target/
/cloud-eureka-server7001/target/
/cloud-eureka-server7002/target/
/cloud-gateway-gateway9527/target/
/cloud-provider-hystrix-payment8001/target/
/cloud-provider-payment8001/target/
/cloud-provider-payment8002/target/
/cloud-provider-payment8004/target/
/cloudali-consumer-order80/target/
/cloudali-gateway9527/target/
/cloudali-provider-payment8001/target/
/cloudali-provider-payment8002/target/
/java8-features-demo/target/
/mybatis-test/target/
/out/
/rocketmq-demo/target/
/rpc-demo/target/
/seata-order-service2001/target/
/spring-demo/target/
/springboot-commons/target/
/springboot-data-jdbc/target/
/springboot-data-jpa/target/
/springboot-data-mybatis/target/
/springboot-es-api/target/
/springboot-security/target/
/springboot-undertow/target/